<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="uid" value="testuser01"/>
    <add key="civicNumber" value=""/>
    <add key="password" value=""/>

    <!-- Test -->
    <add key="RPCertificateThumbprint" value="aaa45cb228269d7ee7e50e8cb3c9788c3b3b3594"/>
    <add key="AuthURL" value="https://services.test.frejaeid.com/authentication/1.0/initAuthentication" />
    <add key="AuthOneResultURL" value="https://services.test.frejaeid.com/authentication/1.0/getOneResult" />
    <add key="CancelRequestURL" value="https://services.test.frejaeid.com/authentication/1.0/cancel" />
    <add key ="QRCodeURL" value ="https://resources.test.frejaeid.com/qrcode/generate?qrcodedata=" />
    
    <!-- Prod -->
    <!--
    <add key="RPCertificateThumbprint" value=""/>
    <add key="AuthURL" value="https://services.prod.frejaeid.com/authentication/1.0/initAuthentication" />
    <add key="AuthOneResultURL" value="https://services.prod.frejaeid.com/authentication/1.0/getOneResult" />
    <add key="CancelRequestURL" value="https://services.prod.frejaeid.com/authentication/1.0/cancel" />
    <add key ="QRCodeURL" value ="https://resources.prod.frejaeid.com/qrcode/generate?qrcodedata=" />
    -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
